# Vault Initialization Credentials
# Generated: {{ ansible_date_time.iso8601 }}
# WARNING: This file contains sensitive information. Keep it secure!

# Root Token
token={{ vault_init_data.root_token }}

# Unseal Keys (3 of 5 required to unseal)
unseal_key_1={{ vault_init_data.unseal_keys_b64[0] }}
unseal_key_2={{ vault_init_data.unseal_keys_b64[1] }}
unseal_key_3={{ vault_init_data.unseal_keys_b64[2] }}
unseal_key_4={{ vault_init_data.unseal_keys_b64[3] }}
unseal_key_5={{ vault_init_data.unseal_keys_b64[4] }}

# Recovery Keys (if applicable)
{% if vault_init_data.recovery_keys_b64 is defined %}
{% for key in vault_init_data.recovery_keys_b64 %}
recovery_key_{{ loop.index }}={{ key }}
{% endfor %}
{% endif %}

# Vault Configuration
vault_addr={{ vault_addr }}
initialized={{ ansible_date_time.iso8601 }}
